## @file
 # Copyright (c) 2025, Arm Limited or its affiliates. All rights reserved.
 # SPDX-License-Identifier : Apache-2.0
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #  http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
 ##

%YAML 1.2
---
description: >-
  This config brings together TF-A, TF-RMM and baremetal app of RME-ACS
  for Base FVP Platform.

layers:
  - rme-acs-stack-base.yaml
  - rme-mec.yaml

build:
  tfa:
    params:
      BL33: ${btvar:ACS_PATH}/build/output/rme.bin

run:
  params:
    -C bp.secureflashloader.fname: ${artifact:BL1}
    -C bp.flashloader0.fname: ${artifact:FIP}
    -C bp.pl011_uart2.shutdown_tag: "\"RME tests complete. Reset the system.\""